/* Selector universal: Selecciona todos los elementos.*/
* {
    font-size: 24;
    background-color: lightcyan;
}

/* Selector de tipo: Selecciona todos los elementos que coinciden con el nombre del elemento especificado */
h1 {
    color: red;
}

p {
    color: blue;
    font-size: 15px;
}

/* Selector de clase: Selecciona todos los elementos que tienen el atributo class especificado. */
.green-title {
    color: green;
    background-color: white;
}

/* Selector de ID: Selecciona un elemento basándose en el valor de su atributo id.
Solo puede haber un elemento con un determinado ID dentro de un documento. */
#second {
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
}

/* Más información sobre selectores CSS: https://developer.mozilla.org/es/docs/Web/CSS/CSS_Selectors*/